<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img
      src="../assets/hot.jpg"
      *ngIf="((weatherData.main.temp - 32) * 5) / 9 > 15"
      alt=""
    />
    <img
      src="../assets/cold.jpg"
      *ngIf="((weatherData.main.temp - 32) * 5) / 9 <= 15"
      alt=""
    />

    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ ((weatherData.main.temp - 32) * 5) / 9 | number: "1.0-0" }}°C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">Plus d'informations</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/96/000000/cold.png" />
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{ ((weatherData.main.temp_min - 32) * 5) / 9 | number: "1.0-0" }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/96/000000/hot.png" />
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{ ((weatherData.main.temp_max - 32) * 5) / 9 | number: "1.0-0" }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/96/000000/humidity.png" />
          <span>Humidité</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }}%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/96/000000/windsock.png" />
          <span>Vent</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }}km/h</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="14 > 15" alt="" />
    <img src="../assets/cold.jpg" *ngIf="14 <= 15" alt="" />

    <div class="weather-data">
      <div class="location">Lomé</div>
      <div class="temperature">{{ 14.4 }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">Plus d'informations</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/96/000000/cold.png" />
          <span>Min</span>
        </div>
        <div class="info-block-value">10°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/96/000000/hot.png" />
          <span>Max</span>
        </div>
        <div class="info-block-value">30°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/96/000000/humidity.png" />
          <span>Humidité</span>
        </div>
        <div class="info-block-value">77%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="https://img.icons8.com/color/96/000000/windsock.png" />
          <span>Vent</span>
        </div>
        <div class="info-block-value">11km/h</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet> -->
